.gift_background{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift{
    padding-bottom: 0;
}

.gift_explanation{
    text-align: center;
}

@media screen and (max-width:  480px) {
    .gift_explanation{
        text-align: justify;
    }

}