.nav_background{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0.5em 0.3em 0.5em;
}
.website_name{
    font-family: var(--title);
    font-size: 1.5em;
    color: var(--text-color-light);
}

  
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
nav li {
    display: inline;
    margin-right: 2em;
}
  
nav a {
    text-decoration: none;
    color: var(--text-color-light);
    font-size: 0.8em;
}
  
nav a:hover {
    text-decoration: underline;
}
  


