.program_section_background{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline_background{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.timeline_container{
    display: flex;
    justify-content: center;
    gap: 0;
}

.text_right{
    width: 50%;
    gap: 1em;
    display: flex;
    text-align: end;
    justify-content: flex-end;
    border-right: solid 4px var(--text-color);
}

.text_left{
    width: 50%;
    justify-content: flex-end;
    margin-left: -12px;
    gap: 1em;
    padding-top: 6em;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;

}

.ring{
    height: 1em;
    min-width: 1em;
    background-color: var(--text-color-light);
    border: 3px solid var(--text-color);
    border-radius: 1em;
    margin-right: -11px;
}

.line{
    margin-left: 7px;
    width: 4px;
    background-color: var(--text-color);
    height: 6em;
}

.timeAndDate_text{
    color: var(--text-color-light);
    font-size: 1.2em;
    font-weight: 200;
}

.event_text{
    font-weight: 500;
    overflow-wrap: break-word;
}

@media screen and (max-width:  800px) {
    .ring{
        height: 1em;
        width: 1em;
        padding: 0.3em;
    }   
}


@media screen and (max-width:  480px) {
    .timeAndDate_text{
        font-size: 1em;
    }

    .event_text{
        font-size: 0.8em;
    }
}
