.home_background{
    background-image: url('../assets/img/bckgb.png');
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section_title{
    font-family: var(--title);
    font-weight: 400;
    font-size: 3em;
    padding: 1em;
    color: var(--text-color-light);
}

